<body>
    <div>

        <h1>Hello Welcome Again!</h1>
        
        <form action="/admin" method="post">
                <label  for="adminname">Adminname</label>
                <input  name="adminname" required>
                <label for="password">Password</label>
                <input type="password" name="password" required>
                <button  type="submit" >SIGN IN</button>
        </form>
        <form action="/signin" action="get">
            <p>Sign in as Student?</p>
            <button type="submit" >Student</button>
        </form>
    </div>
    

</body>