<body>
    <div>

        <h1>Hello Welcome Again!</h1>
        
        <form action="/signin" method="post">
                <label  for="username">Username</label>
                <input  name="username" required>
                <label for="password">Password</label>
                <input type="password" name="password" required>
                <button  type="submit" >SIGN IN</button>
        </form>
        <form action="/admin" action="get">
            <p>Sign in as Librarian?</p>
            <button type="submit" >Admin</button>
        </form>
    </div>
    

</body>