<% layout('layouts/boilerplate') %>
<%- include('../layouts/librarian.ejs') %>
<form action="/librarian/issue" method="post">
    <label for="stuadmNo">AdmNo</label>
    <input type="text" name="stuadmNo">
    <label for="booktitle">Book</label>
    <input type="text" name="booktitle" id="" value="<%=title%>">
    <button type="submit">Issue Book</button>
</form>